*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.438);
    padding: 0 20px;
}

.main-wrap{
    max-width: 600px;
    width: 100%;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 20px;
    min-height: 600px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    max-height: 600px;
    overflow-y: auto;
}


.wrapper .main-content{
    padding-top: 30px;
}

.wrapper .main-content input{
    padding: 10px;
}

.submitButton{
    padding: 10px;
    cursor: pointer;
}


.list-wrap{
    padding: 30px 0;
}

.list-wrap ul{
    list-style: none;
}


.list-wrap ul li{
    margin-bottom: 10px;
    text-transform: capitalize;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.list-wrap ul li .close,
.list-wrap ul li .edit{
    max-width: 20px;
    height: auto;
}


.list-wrap ul li .close img,
.list-wrap ul li .edit img{
    height: 100%;
    width: 100%;
}

